body {

width: auto;
text-align: center;
font-family: sans-serif;
font-size: 18pt;
font-weight:600;
background-color: lightblue;




}

div, #score, #questions, #counter, h3
{
  width: auto;
  font-size: 18pt;
  text-align: center;
  background-color: white;
  padding: 5px;
  border: 5px solid darkgrey;
  margin: 30px;
  
  
}

#try_again
{
  
  text-align: center;
  background-color: lightblue;
  border: none;
 
  
}
#score, counter,h3 {
  text-align:left;
  padding-left:10%;
}
